{%  extends 'base.html' %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update Expenses</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-6">
                    {% include 'partials/_alert.html' %}
                    <form method="post" action="{% url 'update_expenses' expense.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="amount">Expense Amount</label>
                            <input type="number" class="form-control" name="amount" placeholder="Expense Amount" value="{{ expense.amount }}">
                        </div>

                        <div class="form-group">
                            <label for="date">Expense Date</label>
                            <input type="date" class="form-control" name="date" placeholder="Expense Date" value="{{ expense.date }}">
                        </div>

                        <div class="form-group">
                            <select class="form-control" name="category">
                                {% for category in categories %}
                                    <option class="form-control" value="{{ category.name }}"
                                            {% if category.name == expense.category %}
                                            selected
                                            {% endif %}>{{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description">Expense Description</label>
                            <textarea class="form-control" name="description" placeholder="Short description...">{{ expense.description }}</textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}